<h1 class='d-flex justify-content-center mt-2 display-3'>Головна</h1>	
<h4 class='mt-2 display-4'>Пости:</h4>	
<% @post.each do |post| %>
<div class="alert alert-light">
<h3 class="font-weight-bolder"><%= post.title %></h3>
<p><%= post.body %></p>
<%= link_to "Читати далі", post_path(post), :class => 'btn btn-outline-primary' %>
</div>
<% end %>