// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.img_logo {
    width: 35px;
    height: 30px;
}

.blog-title {
    text-decoration: none;
    color: #fff;
    margin-top: 100px;
}

.blog-title:hover {
    text-decoration: none;
    color: #ecf0f1;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}