.img-logo {
    width: 35px;
    height: 30px;
}

.blog-title {
    text-decoration: none;
    color: #fff;
    margin-top: 100px;
}

.blog-title:hover {
    text-decoration: none;
    color: #ecf0f1;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}